extends /layouts/template.pug
include ../components/counter.pug
block main
  include ../sections/header.pug
  section
    include ../sections/consultasexames.pug
  section.b-lowgray
    include ../sections/especialidadesdestaque.pug
  section
    include ../sections/examesemdestaque.pug
  section.b-lowgray
    +count('first-count','+ de 6.000 Pacientes Satisfeitos')
  section.b-lowergray
    include ../sections/especialidades.pug
  section
    include ../sections/exames.pug
  section.b-lowgray
    +count('second-count','Há mais de 5 anos no mercado')
  section
    include ../sections/pacientes.pug
  include ../sections/paralax.pug
  section
    include ../sections/corpoclinico.pug
  section.b-lowgray
    include ../sections/missaovisaovalores.pug
  section
    include ../sections/nossosdiferenciais.pug
  section.b-lowergray
    include ../sections/planodefidelidade.pug
  section
    include ../sections/espacos.pug
  section.b-lowergray
    include ../sections/enderecos.pug
  section
    include ../sections/qrcodes.pug
  footer.b-lowgray
    include ../sections/footer.pug