extends /layouts/template.pug
block main
  include ../sections/header.pug
  section
    include ../sections/consultasexames.pug
  section
    include ../sections/especialidadesdestaque.pug
  section
    include ../sections/examesemdestaque.pug
  section
    include ../components/status.pug