extends /layouts/template.pug
include ../components/counter.pug
block main
  include ../sections/header.pug
  section
    include ../sections/consultasexames.pug
  section.b-lowgray#especialidadesdestaque
    include ../sections/especialidadesdestaque.pug
  section
    include ../sections/examesemdestaque.pug
  section.b-lowgray
    +count('first-count','pacientes satisfeitos')
  section.b-lowergray
    include ../sections/especialidades.pug
  section#exames
    include ../sections/exames.pug
  section.b-lowgray
    +count('second-count','dias atendendo com satisfação nossos pacientes')
  section
    include ../sections/pacientes.pug
  include ../sections/paralax.pug
  section
    include ../sections/corpoclinico.pug
  section.b-lowgray
    include ../sections/missaovisaovalores.pug
  section
    include ../sections/nossosdiferenciais.pug
  section.b-lowergray.d-none
    include ../sections/planodefidelidade.pug
  section.b-lowergray
    include ../sections/espacos.pug
  section
    include ../sections/enderecos.pug
  section.d-none
    include ../sections/qrcodes.pug
  footer.b-lowgray
    include ../sections/footer.pug