.text-center 
  a.btn.btn-primaryTheme(href="https://wa.me/5561999181888?text=Olá! Encontrei a Clínica pelo Google e gostaria de realizar um agendamento." title="Agende sua visita") 
    img(src="src/assets/icons/zap-icon.svg", alt="Whatsapp", width="20px" heigh="20px")
    | &nbsp; Agendar agora