section.hero.hero-style
  .hero-content
    .container
      .hero-caption
        p.p-2.b-white.text-xl2.c-secondary.d-inline-block
          | Clínica Médica Integrativa em <b>Paranoá | Sobradinho | Estrutural</b>
        h1.p-2.b-white.text-xl6.c-secondary.d-inline-block
          strong Não deixe sua saúde para depois! Agende agora sua consulta e exames por um preço que você pode pagar.
        p.p-2.b-white.text-xl2.c-secondary.d-inline-block
          | Confie em quem já garantiu a qualidade de vida de mais  de <b>6.000 pacientes</b>
      a.btn.btn-primaryTheme.btn-lg(href="#" title="Agende sua visita") 
        i.fa-brands.fa-whatsapp
        | &nbsp; Agendar agora