nav.nav-global
  .container
    .row
      .Triad
        div
          a(href="http://" title="Home") 
            img.logo(src="src/assets/logo.svg", alt="Long Life")
        div
          a(href="http://" title="Whatsapp") 
            img.faleconosco(src="src/assets/faleconosco.svg", alt="Whatsapp")