nav.nav-global
  .container
    .row
      .Triad
        div
          a(href="http://" title="Home") 
            img(src="src/assets/logo.svg", alt="Long Life", width="264px")
        div
          a(href="http://" title="Whatsapp") 
            img(src="src/assets/faleconosco.svg", alt="Whatsapp")