nav.nav-global
  .container
    .row
      .Triad
        div
          a(href="https://www.clinicalonglife.com.br" title="Home") 
            img.logo(src="src/assets/logo.svg", alt="Long Life")
        div
          a(href="https://wa.me/5561999181888?text=Olá! Encontrei a Clínica pelo Google e gostaria de realizar um agendamento." title="Whatsapp" target='_blank') 
            img.faleconosco(src="src/assets/faleconosco.svg", alt="Whatsapp")