.container
  .row 
    .titles
      span
      h2 Conheça os Serviços que já Transformaram a Qualidade de Vida de Milhares de Pacientes
      span
    .col-md-6
      a.link.link-default(href="#especialidadesdestaque")
        figure.card.card-single
          .Embed.Embed--3by2
            img.border-radius5.u-fitCover(src="src/assets/consultas.webp" alt='Consultas')
          figcaption CONSULTAS
    .col-md-6
      a.link.link-default(href="#exames")
        figure.card.card-single
          .Embed.Embed--3by2
            img.border-radius5.u-fitCover(src="src/assets/exames.webp" alt='Exames')
          figcaption EXAMES
    .col-12 
      include ../components/button.pug