.container
  .row 
    .titles
      span
      h2 Conheça os Serviços que já Transformaram a Qualidade de Vida de Milháres de Pacientes
      span
    .col-6
      figure.card.card-single
        .Embed.Embed--3by2
          img.border-radius5.u-fitCover(src="src/assets/consultas.jpg" alt='Consultas')
        figcaption CONSULTAS
    .col-6
      figure.card.card-single
        .Embed.Embed--3by2
          img.border-radius5.u-fitCover(src="src/assets/exames.jpg" alt='Exames')
        figcaption EXAMES
    .col-12 
      .text-center 
        a.btn.btn-primaryTheme(href="#" title="Agende sua visita") 
          i.fa-brands.fa-whatsapp
          | &nbsp; Agendar agora