.container 
  .titles
    span
    h2 Corpo Clínico
    span
  //- .overflow-responsive
  //-   .d-flex
  //-     .item
  //-       figure.cards.card-border.pt-4
  //-         img.border-radius5.u-fitCover(src="src/assets/doctors/Ellipse1.png" alt='Consultas')
  //-         figcaption Exames Cardiológicos
  //-     .item
  //-       figure.cards.card-border.pt-4
  //-         img.border-radius5.u-fitCover(src="src/assets/doctors/Ellipse2.png" alt='Exames')
  //-         figcaption Ultrassonografia
  //-     .item
  //-       figure.cards.card-border.pt-4
  //-         img.border-radius5.u-fitCover(src="src/assets/doctors/Ellipse3.png" alt='Exames')
  //-         figcaption Ultrassonografia
  //-     .item
  //-       figure.cards.card-border.pt-4
  //-         img.border-radius5.u-fitCover(src="src/assets/doctors/Ellipse4.png" alt='Exames')
  //-         figcaption Ultrassonografia

  .container.text-center
    .row.mx-auto.my-auto.justify-content-center
      #recipeCarousel.carousel.slide(data-bs-ride='carousel')
        .carousel-inner(role='listbox')
          .carousel-item.active
            .col-md-3
              .card.mb-5.border-0
                figure.cards.card-border.mb-0.cards-fix
                  img.border-radius5.u-fitCover(src="src/assets/doctors/Ellipse1.png" alt='Consultas')
                  figcaption 
                    p Exames Cardiológicos
                    p Médico Integrativo 
                    small CRM-DF 199242
          .carousel-item
            .col-md-3
              .card.mb-5.border-0
                figure.cards.card-border.mb-0.cards-fix
                  img.border-radius5.u-fitCover(src="src/assets/doctors/Ellipse2.png" alt='Exames')
                  figcaption 
                    p Exames Cardiológicos
                    p Médico Integrativo 
                    small CRM-DF 199242
          .carousel-item
            .col-md-3
              .card.mb-5.border-0
                figure.cards.card-border.mb-0.cards-fix
                  img.border-radius5.u-fitCover(src="src/assets/doctors/Ellipse3.png" alt='Exames')
                  figcaption 
                    p Exames Cardiológicos
                    p Médico Integrativo 
                    small CRM-DF 199242
          .carousel-item
            .col-md-3
              .card.mb-5.border-0
                figure.cards.card-border.mb-0.cards-fix
                  img.border-radius5.u-fitCover(src="src/assets/doctors/Ellipse4.png" alt='Exames')
                  figcaption 
                    p Exames Cardiológicos
                    p Médico Integrativo 
                    small CRM-DF 199242
        a.carousel-control-prev.bg-transparent.w-aut(href='#recipeCarousel' role='button' data-bs-slide='prev')
          span.carousel-control-prev-icon(aria-hidden='true')
        a.carousel-control-next.bg-transparent.w-aut(href='#recipeCarousel' role='button' data-bs-slide='next')
          span.carousel-control-next-icon(aria-hidden='true')
