.container
  .row
    .col-12
      .titles
        span
        h2 Nossos Endereços
        span 
    .col-lg-4.col-md-6.col-sm-12.mb-1
      .cards.pt-4.b-white.h-100
        img(src="src/assets/icons/locations.svg", alt="Paranoá", width="50px", height="52px")
        .px-3
          p 
            strong Paranoá
          p Quadra 02 Conjunto A Loja 5 - Paranoá, Brasília - DF, 71570-201
          p: a.link.link-secondary(href="tel:61996462404")
            img.mb-0.me-1(src="src/assets/icons/phone.svg", alt="Phone", width="15px", heigh="20px") 
            | 61 99646-2404
          p Atendimento de segunda à sexta das <b>7h às 18h</b> Sábados de <b>7h às 12h</b>.
          .mb-3
            a.btn.btn-primaryTheme(href="https://maps.app.goo.gl/dq5JFSZNSJTFdag29" title="Seguir a rota") 
              img.mb-0.me-1(src="src/assets/icons/locations-white.svg", alt="Localização", width="15px", heigh="20px") 
              | &nbsp; Seguir a rota
        iframe.border-top--styled(title='Google Maps' src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d61422.11340371789!2d-47.84400178244767!3d-15.810170192762522!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935a3ae74fb03dab%3A0x815b37267a8c5223!2sCl%C3%ADnica%20Long%20Life%20-%20Parano%C3%A1!5e0!3m2!1spt-BR!2sbr!4v1704740148096!5m2!1spt-BR!2sbr' width='100%' height='220' allowfullscreen='' loading='lazy' referrerpolicy='no-referrer-when-downgrade')
    .col-lg-4.col-md-6.col-sm-12.mb-1
      .cards.pt-4.b-white.h-100
        img(src="src/assets/icons/locations.svg", alt="Sobradinho", width="50px", height="52px")
        .px-3
          p 
            strong Sobradinho
          p Quadra 07 Comércio Local 13 Loja 01 - Sobradinho, Brasília - DF, 73035-070
          p: a.link.link-secondary(href="tel:61996191223")
            img.mb-0.me-1(src="src/assets/icons/phone.svg", alt="Phone", width="15px", heigh="20px") 
            | 61 99619-1223
          p Atendimento de segunda à sexta das <b>8h às 17h</b> Sábados de <b>8h às 11h</b>.
          .mb-3
            a.btn.btn-primaryTheme(href="https://maps.app.goo.gl/tWFw5A1aZH1Bokiy9" title="Seguir a rota") 
              img.mb-0.me-1(src="src/assets/icons/locations-white.svg", alt="Localização", width="15px", heigh="20px") 
              | &nbsp; Seguir a rota
        iframe.border-top--styled(title='Google Maps' src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7683.93527465468!2d-47.802064805155936!3d-15.646711708607393!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935a41e1a854ad51%3A0xf50c6942dc293f10!2sCl%C3%ADnica%20M%C3%A9dica%20Long%20Life%20%7C%20Sobradinho%20DF!5e0!3m2!1spt-BR!2sbr!4v1704740410371!5m2!1spt-BR!2sbr' width='100%' height='220' allowfullscreen='' loading='lazy' referrerpolicy='no-referrer-when-downgrade')
    .col-lg-4.col-md-6.col-sm-12.mb-1
      .cards.pt-4.b-white.h-100
        img(src="src/assets/icons/locations.svg", alt="Estrutural", width="50px", height="52px")
        .px-3
          p 
            strong Estrutural
          p Quadra 1 Conjunto 6 Lote 26, EPCL, Brasília - DF, 71261-040
          p: a.link.link-secondary(href="tel:61996861223")
            img.mb-0.me-1(src="src/assets/icons/phone.svg", alt="Phone", width="15px", heigh="20px") 
            | 61 99686-1223
          p Atendimento de segunda à sexta das <b>8h às 17h</b> Sábados de <b>8h às 11h</b>.
          .mb-3
            a.btn.btn-primaryTheme(href="https://maps.app.goo.gl/WKTmTBaqaim9MQzL7" title="Seguir a rota") 
              img.mb-0.me-1(src="src/assets/icons/locations-white.svg", alt="Localização", width="15px", heigh="20px") 
              | &nbsp; Seguir a rota
        iframe.border-top--styled(title='Google Maps' src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3839.3679380796366!2d-47.99976441530006!3d-15.784541483644167!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935a319569bd5c23%3A0xe6fb1b8a9aefe10f!2sCl%C3%ADnica%20Long%20Life!5e0!3m2!1spt-BR!2sbr!4v1704740496506!5m2!1spt-BR!2sbr' width='100%' height='220' allowfullscreen='' loading='lazy' referrerpolicy='no-referrer-when-downgrade')
