.container 
  .row 
    .titles
      span
      h2 Especialidades em Destaque
      span
    .col-12
      mixin media(text, text2, classhere, src)
        .media-flex(class=classhere)
          img.border-radius5.u-fitCover(src=src alt=text)
          .media-caption
            h3.text-xl 
              = text
            p
              = text2
            a.btn.btn-primaryTheme(href="#" title="Agende sua visita") 
              i.fa-brands.fa-whatsapp
              | &nbsp; Agendar agora
      +media("Cardiologia","Seu Coração Merece o Melhor Cuidado! Nossa clínica oferece consultas especializadas com tecnologia de ponta e uma equipe dedicada de cardiologistas experientes. Agora é a hora de cuidar do seu coração com os melhores profissionais. Agende sua consulta hoje e dê o primeiro passo para uma vida mais saudável e tranquila.","","src/assets/cardiologia.jpg")
      +media("Endocrinologia","Transforme sua saúde com nossos especialistas em endocrinologia! Está na hora de dar atenção ao seu bem-estar hormonal. Nossa clínica oferece avaliações personalizadas e tratamentos avançados para uma variedade de condições endócrinas, incluindo diabetes, tireoide, obesidade e muito mais. Com uma abordagem integrada e foco no paciente, estamos prontos para guiá-lo em sua jornada rumo ao equilíbrio e saúde otimizados. Agende sua consulta agora e comece a transformação que seu corpo merece.","media--reverse","src/assets/endocrinologia.jpg")
      +media("Ginecologia","Priorize Seu Bem-Estar Feminino! Em nossa clínica, oferecemos um cuidado ginecológico abrangente e empático, dedicado à saúde e bem-estar da mulher em todas as fases da vida. Desde exames de rotina a tratamentos especializados, nossa equipe de ginecologistas experientes está aqui para apoiar sua saúde integralmente. Agende sua consulta e experimente um atendimento que entende e valoriza suas necessidades únicas.","","src/assets/ginecologia.jpg")
      +media("Soroterapia","Revitalize Seu Corpo e Mente com a Soroterapia! Sinta-se rejuvenescido com nossos tratamentos personalizados, projetados para atender às suas necessidades específicas de saúde e bem-estar modernos. Nossa clínica oferece um ambiente acolhedor, garantindo uma experiência de revitalização única. Aproveite os benefícios imediatos de rejuvenescimento, energia e um impulso geral na sua saúde. Agende sua sessão de soroterapia hoje e dê o primeiro passo para se sentir melhor do que nunca.","media--reverse","src/assets/soroterapia.jpg")

