.container 
  .row 
    .titles
      span
      h2 Especialidades em Destaque
      span
    .col-12
      mixin media(classhere, src)
        .media-flex(class=classhere) 
          img.border-radius5.u-fitCover(src=src alt='Consultas')
          .media-caption
            h3 texto 
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim explicabo atque, consequatur perferendis hic, error dicta, autem eligendi illo ipsum iure itaque? Rem expedita quis praesentium totam harum ea neque.
            a.btn.btn-primaryTheme(href="#" title="Agende sua visita") 
              i.fa-brands.fa-whatsapp
              | &nbsp; Agendar agora
      +media("","src/assets/consultas.jpg")
      +media("media--reverse","src/assets/consultas.jpg")
      +media("","src/assets/consultas.jpg")
      +media("media--reverse","src/assets/consultas.jpg")

