.container
  .row
    .col-12
      .titles
        span
        h2 Especialidades
        span 
    .col-4
      .cards.p-4.b-lowgray.h-100
        img(src="src/assets/icons/raiox.svg", alt="Exames de imagem", width="50px", height="52px")
        p 
          strong Exames de Imagem 
        ul.myUL
          li Ultrassonografia 
          li Endoscopia
          li Colposcopia
          li Bioimpedância
          li Espirometria
          li Core Biópsia
          li Punção de Próstata
          li Punção de Mama
          li Punção de Tireóide
    .col-4
      .cards.p-4.b-lowgray.h-100
        img(src="src/assets/icons/cardiologia.svg", alt="Cardiologia", width="50px", height="52px")
        p 
          strong Exames Cardiológicos
        ul.myUL
          li Holter
          li MAPA
          li Eletrocardiograma
          li Teste Ergométrico
          li Eco Doppler Cardiograma
          li Ultrassonografia  de<br/> Carótidas e Vértebras<br/> com Doppler colorido.
    .col-4
      .cards.p-4.b-lowgray.h-100
        img(src="src/assets/icons/lab.svg", alt="Exames Laboratoriais", width="50px", height="52px")
        p 
          strong Exames Cardiológicos
        ul.myUL
          li Mais de 3.000 exames


    




