.container 
  .row 
    .titles
      span
      h2 Exames em Destaque
      span
    .col-md-6
      figure.cards.card-border.mainItemSpacer
        .Embed.Embed--16by9
          img.border-radius5.u-fitCover(src="src/assets/exames-cardiologicos.webp" alt='Médica fazendo exames' width="600px" heigh="400px")
        figcaption Exames Cardiológicos
    .col-md-6
      figure.cards.card-border.mainItemSpacer
        .Embed.Embed--16by9
          img.border-radius5.u-fitCover(src="src/assets/ultrassonografia.webp" alt='Médica fazendo ultrassonografia' width="600px" heigh="400px")
        figcaption Ultrassonografia
    .col-12 
      include ../components/button.pug