.container 
  .row 
    .titles
      span
      h2 Exames em Destaque
      span
    .col-md-6
      figure.cards.card-border
        .Embed.Embed--16by9
          img.border-radius5.u-fitCover(src="src/assets/exames-cardiologicos.jpg" alt='Consultas')
        figcaption Exames Cardiológicos
    .col-md-6
      figure.cards.card-border
        .Embed.Embed--16by9
          img.border-radius5.u-fitCover(src="src/assets/ultrassonografia.jpg" alt='Exames')
        figcaption Ultrassonografia
    .col-12 
      .text-center 
        a.btn.btn-primaryTheme(href="#" title="Agende sua visita") 
          i.fa-brands.fa-whatsapp
          | &nbsp; Agendar agora