.container 
  .row 
    .col-12 
      .d-flex.justify-content-center.flex-column.align-items-center.py-4.text-center
        .py-3
          img(src="src/assets/logo-primary.svg", alt="Logo Long Life")
        .py-3.text-xl
          a.mx-2.link.link-facebook(href="#", title="Facebook")
            i.fa-brands.fa-facebook
          a.mx-2.link.link-instagram(href="#", title="Instagram")
            i.fa-brands.fa-square-instagram
        .pt-3 
          p: a.link.link-secondary(href="mailto:longlifedf@gmail.com" title="longlifedf@gmail.com")
            i.fa-solid.fa-envelope &nbsp; 
            |  longlifedf@gmail.com
          p: a.link.link-secondary(href="tel:6130494448" title="Telefone")
            i.fa-solid.fa-phone &nbsp; 
            |  61 3049-4448
.container-fluid.b-black.c-whitegray.py-2
  .row.text-sm
    .col-md-6
      small Copyright © 2024 | Todos os direitos reservados https://www.longlife.com.br/
    .col-md-6.text-end
      small Credit pictures from <a class="link link-vz" href="#" data-bs-toggle='modal' data-bs-target='#freepikModal' title="Créditos fotografias">freepik.com</a> | Developed by <a class="link link-vz" href="https://github.com/viruzvz" target="_blank" title="Link desenvolvedor">Carlos_vz</a>

#freepikModal.modal.fade(tabindex='-1' aria-labelledby='freepikModalLabel' aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        h1#freepikModalLabel.modal-title.fs-5 Credit pictures from Freepik
        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      .modal-body
        a.d-block.link.link-primary(target='_blank' href='https://www.freepik.com/free-photo/close-up-doctor-waiting-shake-patients-hand_10823311.htm#query=consultas&position=3&from_view=search&track=sph&uuid=ff9da525-66a4-45ec-bf91-714a9c1a9200') Freepik
        a.d-block.link.link-primary(target='_blank' href='https://www.freepik.com/free-photo/physician-noting-down-symptoms-patient_3469656.htm#query=exames&position=11&from_view=search&track=sph&uuid=9b1b1871-8631-4cbf-8519-169adeacde8b') Image by rawpixel.com
        a.d-block.link.link-primary(target='_blank' href='https://www.freepik.com/free-photo/doctor-showing-plastic-heart_1092839.htm#query=CARDIOLOGIA&position=9&from_view=search&track=sph&uuid=eb5dac68-d3c0-41de-99cd-caa10494ab27') Freepik
        a.d-block.link.link-primary(target='_blank' href='https://www.freepik.com/free-photo/side-view-doctor-checking-patient_39571457.htm#query=Endocrinologia&position=33&from_view=search&track=sph&uuid=e50b7076-0df2-4bb5-8f26-4c3f9fd7b7ee') Freepik
        a.d-block.link.link-primary(target='_blank' href='https://www.freepik.com/free-photo/young-loving-pregnant-couple-visiting-doctor-together_22235293.htm#query=Ginecologia&position=45&from_view=search&track=sph&uuid=19bbce8a-cf56-4d0a-b969-2e9b9f8eefeb') Image by serhii_bobyk
        a.d-block.link.link-primary(target='_blank' href='https://www.freepik.com/free-photo/happy-woman-enjoying-nature_860110.htm#query=qualidade%20de%20vida%20respirando&position=48&from_view=search&track=ais&uuid=3d1d34c5-11b2-4a92-9a7e-238bc17bc095') Image by pressfoto
        a.d-block.link.link-primary(target='_blank' href='https://www.freepik.com/free-photo/smiling-nurse-working-with-patient-procedure_26674414.htm#query=ultrassonografia&position=18&from_view=search&track=sph&uuid=5e3af9a4-3cbf-41ab-9971-2d5b8977e86d') Image by ArtPhoto_studio
        a.d-block.link.link-primary(target='_blank' href='https://www.freepik.com/free-photo/side-view-cancer-patient-hospital_33753973.htm#query=soroterapia&position=3&from_view=search&track=sph&uuid=5df134f5-55d6-4bd5-af61-4bd5d0984949') Freepik
        a.d-block.link.link-primary(target='_blank' href='https://br.freepik.com/fotos-gratis/jovem-medico-esta-usando-um-estetoscopio-para-ouvir-os-batimentos-cardiacos-do-paciente-foto-de-uma-medica-fazendo-um-check-up-a-um-paciente-do-sexo-masculino_28001928.htm#query=exame%20cardiol%C3%B3gico&position=5&from_view=search&track=ais&uuid=afaed91e-9793-46b1-a186-b82aad4e407c') Imagem de stefamerpik
      .modal-footer
        button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Fechar
