.container
  .row
    .col-12
      .titles
        span
        h2 Missão, Visão, Valores
        span 
    .col-md-4.col-sm-12.mb-5
      .cards.p-4.b-white.h-100
        img(src="src/assets/icons/missao.svg", alt="Missão", width="77px", height="77px")
        p 
          strong MISSÃO
        p Promover saúde e qualidade de vida aos nossos pacientes, através de uma abordagem integrativa e atendimento humanizado. 
    .col-md-4.col-sm-12.mb-5
      .cards.p-4.b-white.h-100
        img(src="src/assets/icons/visao.svg", alt="Visão", width="77px", height="77px")
        p 
          strong VISÃO
        p Ser o primeiro hospital com abordagem Integrativa do DF. 
    .col-md-4.col-sm-12.mb-5
      .cards.p-4.b-white.h-100
        img(src="src/assets/icons/valores.svg", alt="Valores", width="77px", height="77px")
        p 
          strong VALORES
        p Respeito, Foco no cliente, Melhoria contínua, Simpatia e Compromisso com a Qualidade de Vida.