.container
  .row
    .col-12
      .titles
        span
        h2 Nossos diferenciais
        span 
    .col-lg-4.col-md-6.col-sm-12
      .cards.p-4.b-white.h-100.border-0
        img(src="src/assets/icons/atendimento.svg", alt="Atendimento personalizado", width="50px", height="52px")
        p 
          strong Atendimento Personalizado
        p Buscamos compreender as necessidades individuais de cada paciente e criamos um ambiente acolhedor para
    .col-lg-4.col-md-6.col-sm-12
      .cards.p-4.b-white.h-100.border-0
        img(src="src/assets/icons/grupo.svg", alt="Equipe Multidisciplinar", width="50px", height="52px")
        p 
          strong Equipe Multidisciplinar
        p Contamos com uma equipe diversificada de profissionais de saúde, para oferecermos uma abordagem abrangente aos cuidados com a saúde.
    .col-lg-4.col-md-6.col-sm-12
      .cards.p-4.b-white.h-100.border-0
        img(src="src/assets/icons/cardiologia.svg", alt="Programa de Prevenção e Bem-Estar", width="50px", height="52px")
        p 
          strong Programa de Prevenção e Bem-Estar
        p Além do tratamento de doenças, nos destacamos por oferecermos programas de prevenção, promoção de saúde e bem-estar, além do incentivo à hábitos


    .col-lg-4.col-md-6.col-sm-12
      .cards.p-4.b-white.h-100.border-0
        img(src="src/assets/icons/handmoney.svg", alt="Acessibilidade", width="50px", height="52px")
        p 
          strong Acessibilidade
        p Oferecemos opções de pagamento flexíveis, aceitamos diversos planos de saúde e buscamos parcerias para facilitar o acesso dos pacientes aos serviços médicos.
    .col-lg-4.col-md-6.col-sm-12
      .cards.p-4.b-white.h-100.border-0
        img(src="src/assets/icons/humannetwork.svg", alt="Educação Continuada da Equipe", width="50px", height="52px")
        p 
          strong Educação Continuada da Equipe
        p Educação Continuada da Equipe: Somos uma clínica que incentiva a educação continuada de nossa equipe, mantendo-os atualizados com as últimas pesquisas e avanços médicos, proporcionando um atendimento de alta qualidade.
    .col-lg-4.col-md-6.col-sm-12
      .cards.p-4.b-white.h-100.border-0
        img(src="src/assets/icons/smile.svg", alt="Feedback e Melhoria Contínua", width="50px", height="52px")
        p 
          strong Feedback e Melhoria Contínua
        p Dispomos de canais para receber feedbacks dos pacientes e estamos abertos a melhorias contínuas, devido ao nosso compromisso com a excelência e a satisfação dos pacientes.
    .col-12 
      include ../components/button.pug