.container
  .row
    .col-12
      .titles
        span
        h2 Conheça Nosso Plano de Fidelidade
        span
      p.c-secondary.text-center.mb-5 Ao aderir ao nosso Programa de Fidelidade, você não será apenas um paciente, mas sim um membro privilegiado da nossa comunidade. Nossa missão é cuidar de você com serviços personalizados e atenção especial.

    .col-lg-4.col-md-6.col-sm-12.mb-4
      .cards.p-4.b-white.h-100.border-0
        img(src="src/assets/icons/star.svg", alt="Consultas Prioritárias", width="50px", height="52px")
        p 
          strong Consultas Prioritárias
        p Agende consultas sem esperas e tenha acesso a horários exclusivos.
    .col-lg-4.col-md-6.col-sm-12.mb-4
      .cards.p-4.b-white.h-100.border-0
        img(src="src/assets/icons/star.svg", alt="Descontos Especiais", width="50px", height="52px")
        p 
          strong Descontos Especiais
        p Receba até 20% de desconto em todos os procedimentos e tratamentos.
    .col-lg-4.col-md-6.col-sm-12.mb-4
      .cards.p-4.b-white.h-100.border-0
        img(src="src/assets/icons/star.svg", alt="Check-ups Anuais Gratuitos", width="50px", height="52px")
        p 
          strong Check-ups Anuais Gratuitos
        p Garanta sua saúde com nossos check-ups anuais completos, sem custo adicional.


    .col-lg-4.col-md-6.col-sm-12.mb-4
      .cards.p-4.b-white.h-100.border-0
        img(src="src/assets/icons/star.svg", alt="Programa de Pontos", width="50px", height="52px")
        p 
          strong Programa de Pontos
        p Acumule pontos a cada visita e troque por serviços ou produtos exclusivos.
    .col-lg-4.col-md-6.col-sm-12.mb-4
      .cards.p-4.b-white.h-100.border-0
        img(src="src/assets/icons/star.svg", alt="Assessoria de Saúde Personalizada", width="50px", height="52px")
        p 
          strong Assessoria de Saúde Personalizada
        p Tenha um profissional de saúde dedicado para acompanhamento contínuo do seu bem-estar.
    .col-lg-4.col-md-6.col-sm-12.mb-4
      .cards.p-4.b-white.h-100.border-0
        img(src="src/assets/icons/star.svg", alt="Eventos e Workshops", width="50px", height="52px")
        p 
          strong Eventos e Workshops
        p Acesso exclusivo a eventos educacionais sobre saúde e bem-estar.


    .col-lg-4.col-md-6.col-sm-12.mb-4
      .cards.p-4.b-white.h-100.border-0
        img(src="src/assets/icons/star.svg", alt="Tecnologia a Seu Favor", width="50px", height="52px")
        p 
          strong Tecnologia a Seu Favor
        p Aproveite nosso aplicativo móvel para gerenciar suas consultas, acessar históricos médicos e conversar diretamente com sua equipe de saúde.
    .col-lg-4.col-md-6.col-sm-12.mb-4
      .cards.p-4.b-white.h-100.border-0
        img(src="src/assets/icons/star.svg", alt="Suporte e Comunicação Contínuos", width="50px", height="52px")
        p 
          strong Suporte e Comunicação Contínuos
        p Nossa equipe está sempre disponível para assistência e orientação, seja por telefone, e-mail ou chat online.
    .col-lg-4.col-md-6.col-sm-12.mb-4
      .cards.p-4.b-white.h-100.border-0
        img(src="src/assets/icons/star.svg", alt="Privacidade e Segurança", width="50px", height="52px")
        p 
          strong Privacidade e Segurança
        p Seus dados estão seguros conosco. Priorizamos sua privacidade e segurança em todas as interações e tratamentos.
    .col-lg-4.col-md-6.col-sm-12.mb-4
    .col-lg-4.col-md-6.col-sm-12.mb-4
      .cards.p-4.b-white.h-100.border-0
        img(src="src/assets/icons/star.svg", alt="Faça Parte Agora", width="50px", height="52px")
        p 
          strong Faça Parte Agora
        p Registre-se <a href="#">agora</a> e ganhe uma consulta e boas-vindas gratuita!
    .col-lg-4.col-md-6.col-sm-12.mb-4