doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name='description' content='Clínica medicinal especializada em exames e consultas')
    meta(name='keywords' content='Endocrinologia, Nutrologia, Medicina Integrativa, Cardiologia, Ginecologia, Dermatologia, Pediatria, Ortopedia, Urologia, Psiquiatria, Gastroenterologia, Cirurgia Geral, Otorrinolaringologia, Nutrição, Psicologia, Soroterapia, Ultrassonografia, Endoscopia, Colposcopia, Bioimpedância, Espirometria, Core Biópsia, Punção de Próstata, Punção de Mama, Punção de Tireóide, Holter, Eletrocardiograma, Teste Ergométrico, Eco Doppler Cardiograma')
    meta(name='msapplication-TileColor' content='#da532c')
    meta(name='theme-color' content='#ffffff')
    title Clínica Long Life - Medicina Personaliza
    link(rel="stylesheet", href="/src/styles/main.scss")
    link(rel='apple-touch-icon' sizes='180x180' href='/src/assets/favicon_longlife/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='/src/assets/favicon_longlife/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='/src/assets/favicon_longlife/favicon-16x16.png')
    link(rel='manifest' href='/src/assets/favicon_longlife/site.webmanifest')
    link(rel='mask-icon' href='/src/assets/favicon_longlife/safari-pinned-tab.svg' color='#5bbad5')
  body
    include ../components/nav.pug
    block main
    footer 
      script(type="module", src="/src/js/main.js") 